.wrapper {
  width: 70%;
  margin-bottom: 20px;
  background: #000;
  color: #0f0;

}

.title {
  margin-bottom: 8px;
  font-weight: 700;
}

.info {
  margin-bottom: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e8eaf5;
  line-height: 1.8;
  .text {
    @extend .title;
    margin-left: 4px;
  }
}

.team {
  display: flex;
  align-items: center;
}

.avatars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  padding-right: 12px;
  border-radius: 15px;
  background-color: #f7f7f8;
  font-weight: 400;
  font-size: 14px;
  color: #536697;
  .icon {
    margin-right: 4px;
  }
}

.summary {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  padding: 12px;
  padding-left: 0;
  font-size: 18px;
}