:global {
  .ant-card-head-title {
    color: #0f0;
  }
  .ant-modal-content, .ant-modal-header {
    background: rgba(0, 0, 0, .7);
  }
  .ant-modal-content {
    border: dashed 1px rgba(0, 255, 0, .6);
  }
  .ant-modal-title {
    color: #0f0;
  }

  .ant-modal-header {
    border-bottom: 1px solid rgba(0,255,0, .7);
  }

  .ant-modal-footer {
    border-top: 1px solid rgba(0,255,0, .7);
  }

  .ant-btn-default, .ant-btn-primary {
    background: transparent!important;
    color: #0f0!important;
  }
  .ant-modal-body {
    padding: 16px;
  }


  .ant-btn-default {
    border: dashed 1px rgba(0, 255, 0, .6)!important;
  }
  .ant-btn-primary {
    border: solid 1px rgba(0, 255, 0, .6)!important;
  }

}

.wrapper {
  width: 70%;
  margin-bottom: 20px;
  background: #000;
  color: #0f0;
  opacity: 0.8;
}

.title {
  margin-bottom: 8px;
  font-weight: 700;
}

.info {
  margin-bottom: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e8eaf5;
  line-height: 1.8;

  .text {
    @extend .title;
    margin-left: 4px;
  }
}

.team {
  display: flex;
  align-items: center;
}

.avatars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  padding-right: 12px;
  border-radius: 15px;
  background-color: #f7f7f8;
  font-weight: 400;
  font-size: 14px;
  color: #536697;

  .icon {
    margin-right: 4px;
  }
}

.summary {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  padding: 12px 12px 12px 0;
  font-size: 18px;
}

.fileItem {
  padding: 10px 0;
  display: flex;
  color: #0f0;
  border-bottom: 1px solid transparent;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  :global  {
    .anticon{
      margin-right: 6px;
    }
  }
  &:hover{
    border-bottom: dashed 1px rgba(0, 255,0,.6);
  }
}