.root {
  display: flex;
  .timeline {
    width: 40vw;
    .icon {
      width: 30px;
      height: 30px;
      box-shadow: 0 0 0 4px #2e7d32, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    }
  }

  .agendaList {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin: 0 30px;
    .agendaItem {
      margin-top: 28px;
    }
  }
}
:global {
  .vertical-timeline-element {
    margin: 0 30px;
  }
  .vertical-timeline-element-content {
    background: rgba(0,0,0,.7);
    border: 1px solid  #2e7d32;
    color: rgba(0,255,0,.9);
    box-shadow: none;
  }
  .vertical-timeline-element-content-arrow {
    border-right-color: transparent;
  }
  @media only screen and (min-width: 1170px) {
    .vertical-timeline--two-columns .vertical-timeline-element-icon {
      margin-left: -15px;
    }
  }
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.sound {
  cursor: pointer;
  > span {
    margin-right: 6px;
  }
}
