:global {
  .MuiTableRow-root.MuiTableRow-head {
    position: relative;
    left: 260px;
  }

  .MuiTableRow-head  th:last-of-type {
    padding-left: 30px;
  }

  body {
    background: radial-gradient(#e0ebdb, transparent);
  }
}

th.title {
  color: green;
  font-size: 18px;
  font-weight: 700;
}

th.subtitle {
  color: green;
}
